﻿@model IEnumerable<EFCodeFirstTest.WorkingCopy>

@{
    ViewBag.Title = "Index";
}

<h2>Changes</h2>

<table class="table">
    <tr>
        <th>
            Table
        </th>
        <th>
            Field
        </th>
        <th>
            Original
        </th>
        <th>
            New
        </th>
        <th>
            Start Date
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model)
{
    foreach (var entry in item.EntityFrameworkEvent.Entries)
     {
         foreach (var change in entry.Changes)
         {
             <tr>
                 <td>
                     @Html.DisplayFor(modelItem => entry.Table)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => change.ColumnName)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => change.OriginalValue)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => change.NewValue)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.StartDate)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => entry.Action)
                 </td>
             </tr>
         }
     }

}
    </table>

