﻿@model EFCodeFirstTest.Pensioner

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pensioner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InpsCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InpsCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IbanType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IbanType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PensionerLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PensionerLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PensionerFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PensionerFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DelegateLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DelegateLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FundingCurrency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FundingCurrency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PensionerDob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PensionerDob)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
