﻿@model EFCodeFirstTest.Pensioner

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pensioner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InpsCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InpsCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IbanType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IbanType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PensionerLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PensionerLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PensionerFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PensionerFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DelegateLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DelegateLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FundingCurrency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FundingCurrency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PensionerDob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PensionerDob)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
